<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" th:object="${user}" method="POST">
    <div style="color:red; font-size:14px;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"/>

    <div style="color:red; font-size:14px;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password"/>

    <div><input type="submit" value="Sign up!"/></div>
</form>
</body>
</html>
